<!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <!-- Start of head content specific to page -->
    <title>About Yajat Yadav</title>
    <!-- End of head content specific to page test change-->
</div></head>

<body>

<div layout:fragment="content" th:remove="tag" style="height:100%;">
    <!--    <table>-->
    <!--        <tr th:each="frq : ${frq_list}">-->
    <!--            <td th:text = "${frq}"></td>-->

    <!--        </tr>-->

    <!--    </table>-->
    <tr th:each="frq: ${frq_list}">
        <td th:text="${frq}" />

    </tr>
</div>


</body>

</html>









